.container {
  display: flex;
  justify-content: center;
}

.container ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 10px;
  padding: 0;
}

.row {
  display: flex;
  flex-direction: column;
  flex: 0 1 33%;
}

.welcome-header {
  text-align: center;
}

.status-header {
  text-align: center;
  margin: 0 10px;
}
